<IfModule mod_rewrite.c>
    RewriteEngine On
    #環境変数(パス,URL)にファイルが存在しないリクエストは
    RewriteCond %{REQUEST_FILENAME} !-f
    #index.phpにリダイレクトさせる(URLの書き換え)
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
